<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Game Name</th>
      <th>Category</th>
      <th>Nominal</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < vouchers.length; i++){ %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= vouchers[i].name %></td>
        <td><%= vouchers[i]?.category?.name??'Unset' %></td>
        <td>
          <% vouchers[i]?.nominals?.forEach(nominal => { %>
            <span class="badge badge-warning"><%= nominal.cointName %> <%= nominal.cointQuantity %></span>
          <% }) %>
        </td>
        <td>
          <% if(vouchers[i].status == 'Y') { %>
            <span class="badge badge-success">
              Active
            </span>
          <% } else {%>
            <span class="badge badge-danger">
              Unactive
            </span>
          <% } %> 
        </td>
        <td>
          <form  
          action="/voucher/delete/<%= vouchers[i]._id %>?_method=DELETE" 
          method="post">
          <% if(vouchers[i].status=='Y' ) { %>
            <button class="btn btn-sm btn-danger" type="button" onclick="updateStatus('<%=vouchers[i]._id.toString()%>')">
              Deactivate
            </button>
            <% } else {%>
              <button class="btn btn-sm btn-success" type="button" onclick="updateStatus('<%=vouchers[i]._id.toString()%>')">
                Activate
              </button>
              <% } %>
            <a class="btn btn-sm btn-warning" href="/voucher/edit/<%= vouchers[i]._id %>">
              <i class="fas fa-pencil-alt"></i> Edit</a>
            <button class="btn btn-sm btn-danger" type="submit"><i class="fas fa-trash"></i> Hapus</button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>