<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < nominals.length; i++){ %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= nominals[i].cointName %></td>
        <td><%= nominals[i].cointQuantity %></td>
        <td><%= nominals[i].price %></td>
        <td>
          <form  
          action="/nominal/delete/<%= nominals[i]._id %>?_method=DELETE" 
          method="post">
            <a class="btn btn-warning" href="/nominal/edit/<%= nominals[i]._id %>">
              <i class="fas fa-pencil-alt"></i> Edit</a>
            <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i> Hapus</button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>