<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Bank Name</th>
      <th>Account Number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < banks.length; i++){ %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= banks[i].ownerName %></td>
        <td>
          <%= banks[i].bankName %>
        </td>
        <td>
          <%= banks[i].bankNumber %>
        </td>

        <td>
          <form  
          action="/bank/delete/<%= banks[i]._id %>?_method=DELETE" 
          method="post">
            <a class="btn btn-warning btn-sm" href="/bank/edit/<%= banks[i]._id %>">
              <i class="fas fa-pencil-alt"></i> Edit</a>
            <button class="btn btn-danger btn-sm" type="submit"><i class="fas fa-trash"></i> Hapus</button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>